@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
			body{
				background-color: #FFFAFA;
				color: #800000;
				font-family: "Shantell Sans", cursive;
			}
			a{
				color: #C71585;
				text-decoration: none;
			}
			a:hover{
				color: #e91c9e;
				text-decoration: underline;
			}
			a img{
				float: left;
				margin-right:15px;
				width: 250px;
			}
			iframe{
				width: 800px;
				height: 270px;
			}
			#инф{
				width: 50%;
				height: 100%;
			}
			#sp{background-color: #FFF0F5;}
			.q:hover{
				text-decoration: underline;
				text-decoration-color: #80000031;
			}
			ol label, li {color: #660080;}

			input, textarea,button,select { 
				color: #660080;
				font-family: "Shantell Sans", cursive;
			}
			input:focus, textarea:focus{  color: #cc00ff;}
